@media (min-width: 1440px) {
    .searchBarContainer {
        width: 700px;
        margin: 0 35px 0 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .searchBarContainer {
        width: 400px;
        margin: 0 35px 0 50px;
    }
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    border-radius: 50px;
}


@media (max-width: 1024px) {
    .searchBarContainer {
        padding: 20px;
    }
}

.infoCardContainer--info-card-banner-one,
.infoCardContainer--info-card-banner-two {
    height: 100%;
    display: none;
}



@media (min-width: 620px) and (max-width: 1439px) {

    .logoContainer {
        margin-left: -90px;
    }

}

@media (min-width: 500px ) and (max-width: 619px) {
    
    .logoContainer {
        margin-left: -80px;
    }

}

@media (min-width: 187px ) and (max-width: 499px) {
    
    .logoContainer {
        margin-left: -80px;
    }

}

@media (max-width: 187px) {
    .logoContainer {
        margin-left: -187px;
    }
}
