.flexCol--logoContainer {
    width: 180px;
}

.flexCol--colSpacer {
    padding-right: 4px;
    margin-top: 17px;
    margin-right: 20px;
    height: 20px;
    border-right: 1px solid #3abd13;
}

.flexRow--mobileCategoryContainer,
.flexColChild--mobileCategoryContainer {
    width: 100%;
}

