@media (min-width: 1440px) {
    .searchBarContainer {
        width: 700px;
        margin: 0 35px 0 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px)  {
    .searchBarContainer {
        width: 400px;
        margin: 0 35px 0 50px;
    }
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    border-radius: 50px;
}