.link--menu {
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.wrapper--shipping-calculate-cost {
    color: #53c6f3;
    font-size: 24px;
    cursor: pointer;
}

.paragraph--subcategory,
.link--subcategory,
.strong--subcategory,
.link--category,
.strong--category{
    color: black;
    text-decoration: none;
    font-weight: 400;
}